[
  {ssl, [{versions, ["tlsv1.2", "tlsv1"]}]},
  {rabbit, [
    {ssl_listeners, [5671]},
    {ssl_options, [
      {certfile, "/certs/cert.pem"},
      {keyfile, "/certs/key.pem"},
      {verify, verify_none},
      {fail_if_no_peer_cert, false}
    ]},
    {auth_backends, [rabbit_auth_backend_http]},
    {vm_memory_high_watermark, 0.8}
  ]},
  {rabbitmq_auth_backend_http, [
    {user_path, "http://mq-auth/user"},
    {vhost_path,  "http://mq-auth/vhost"},
    {resource_path, "http://mq-auth/resource"}
  ]},
  {rabbitmq_web_stomp, [
    {ssl_config, [
      {port, 4443},
      {certfile, "/certs/cert.pem"},
      {keyfile,  "/certs/key.pem"},
      {password, "ignoredButRequired"}
    ]}
  ]}
].